* text=auto !eol
/Alerts.h -text
/Alerts.m -text
English.lproj/InfoPlist.strings -text
English.lproj/MainMenu.nib/designable.nib -text
English.lproj/MainMenu.nib/keyedobjects.nib -text
/Info.plist -text
/InterfaceController.h -text
/InterfaceController.m -text
/LSOF.h -text
/LSOF.m -text
/VersionNotes -text
WhatsOpen.xcodeproj/marmon.mode1v3 -text
WhatsOpen.xcodeproj/marmon.pbxuser -text
WhatsOpen.xcodeproj/project.pbxproj -text
/WhatsOpen_Prefix.pch -text
/WhatsOpen_v1.0.dmg -text
build/Debug/WhatsOpen.app/Contents/Info.plist -text
build/Debug/WhatsOpen.app/Contents/MacOS/WhatsOpen -text
build/Debug/WhatsOpen.app/Contents/PkgInfo -text
build/Debug/WhatsOpen.app/Contents/Resources/English.lproj/MainMenu.nib/designable.nib -text
build/Debug/WhatsOpen.app/Contents/Resources/English.lproj/MainMenu.nib/keyedobjects.nib -text
build/Release/WhatsOpen.app.dSYM/Contents/Info.plist -text
build/Release/WhatsOpen.app.dSYM/Contents/Resources/DWARF/WhatsOpen -text
build/Release/WhatsOpen.app/Contents/Info.plist -text
build/Release/WhatsOpen.app/Contents/MacOS/WhatsOpen -text
build/Release/WhatsOpen.app/Contents/PkgInfo -text
build/Release/WhatsOpen.app/Contents/Resources/English.lproj/MainMenu.nib/designable.nib -text
build/Release/WhatsOpen.app/Contents/Resources/English.lproj/MainMenu.nib/keyedobjects.nib -text
build/WhatsOpen.build/Debug/WhatsOpen.build/Objects-normal/i386/WhatsOpen.LinkFileList -text
build/WhatsOpen.build/Debug/WhatsOpen.build/WhatsOpen.dep -text
build/WhatsOpen.build/Debug/WhatsOpen.build/WhatsOpen.hmap -text
build/WhatsOpen.build/Release/WhatsOpen.build/Objects-normal/i386/WhatsOpen -text
build/WhatsOpen.build/Release/WhatsOpen.build/Objects-normal/i386/WhatsOpen.LinkFileList -text
build/WhatsOpen.build/Release/WhatsOpen.build/Objects-normal/ppc/InterfaceController.o~> -text
build/WhatsOpen.build/Release/WhatsOpen.build/Objects-normal/ppc/WhatsOpen -text
build/WhatsOpen.build/Release/WhatsOpen.build/Objects-normal/ppc/WhatsOpen.LinkFileList -text
build/WhatsOpen.build/Release/WhatsOpen.build/WhatsOpen.dep -text
build/WhatsOpen.build/Release/WhatsOpen.build/WhatsOpen.hmap -text
build/WhatsOpen.build/Release/WhatsOpen.build/WhatsOpen~.dep -text
build/WhatsOpen.build/WhatsOpen.pbxindex/categories.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/cdecls.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/decls.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/files.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/imports.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/pbxindex.header -text
build/WhatsOpen.build/WhatsOpen.pbxindex/protocols.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/refs.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/strings.pbxstrings/control -text
build/WhatsOpen.build/WhatsOpen.pbxindex/strings.pbxstrings/strings -text
build/WhatsOpen.build/WhatsOpen.pbxindex/subclasses.pbxbtree -text
build/WhatsOpen.build/WhatsOpen.pbxindex/symbols0.pbxsymbols -text
/main.m -text
/svn-commit.2.tmp -text
/svn-commit.3.tmp -text
/svn-commit.tmp -text
