* text=auto !eol
/Alerts.h -text
/Alerts.m -text
English.lproj/InfoPlist.strings -text
English.lproj/MainMenu.nib/designable.nib -text
English.lproj/MainMenu.nib/keyedobjects.nib -text
/Finder.h -text
/Info.plist -text svneol=unset#unset
/InterfaceController.h -text
/InterfaceController.m -text
/LSOF.h -text
/LSOF.m -text
/OpenFile.h -text
/OpenFile.m -text
Sparkle.framework/Headers -text
Sparkle.framework/Resources -text
Sparkle.framework/Sparkle -text
Sparkle.framework/Versions/A/Headers/NSBundle+SUAdditions.h -text
Sparkle.framework/Versions/A/Headers/NSFileManager+Aliases.h -text
Sparkle.framework/Versions/A/Headers/NSFileManager+Authentication.h -text
Sparkle.framework/Versions/A/Headers/NSFileManager+ExtendedAttributes.h -text
Sparkle.framework/Versions/A/Headers/NSFileManager+Verification.h -text
Sparkle.framework/Versions/A/Headers/NSNumber+Units.h -text
Sparkle.framework/Versions/A/Headers/NSWorkspace+SystemVersion.h -text
Sparkle.framework/Versions/A/Headers/NSWorkspace_RBAdditions.h -text
Sparkle.framework/Versions/A/Headers/NTSynchronousTask.h -text
Sparkle.framework/Versions/A/Headers/SUAppcast.h -text
Sparkle.framework/Versions/A/Headers/SUAppcastItem.h -text
Sparkle.framework/Versions/A/Headers/SUAutomaticUpdateAlert.h -text
Sparkle.framework/Versions/A/Headers/SUAutomaticUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUBasicUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUConstants.h -text
Sparkle.framework/Versions/A/Headers/SUDiskImageUnarchiver.h -text
Sparkle.framework/Versions/A/Headers/SUInstaller.h -text
Sparkle.framework/Versions/A/Headers/SUPackageInstaller.h -text
Sparkle.framework/Versions/A/Headers/SUPipedUnarchiver.h -text
Sparkle.framework/Versions/A/Headers/SUPlainInstaller.h -text
Sparkle.framework/Versions/A/Headers/SUProbingUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUScheduledUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUStandardVersionComparator.h -text
Sparkle.framework/Versions/A/Headers/SUStatusController.h -text
Sparkle.framework/Versions/A/Headers/SUSystemProfiler.h -text
Sparkle.framework/Versions/A/Headers/SUUIBasedUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUUnarchiver.h -text
Sparkle.framework/Versions/A/Headers/SUUnarchiver_Private.h -text
Sparkle.framework/Versions/A/Headers/SUUpdateAlert.h -text
Sparkle.framework/Versions/A/Headers/SUUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUUpdatePermissionPrompt.h -text
Sparkle.framework/Versions/A/Headers/SUUpdater.h -text
Sparkle.framework/Versions/A/Headers/SUUserDefaults.h -text
Sparkle.framework/Versions/A/Headers/SUUserInitiatedUpdateDriver.h -text
Sparkle.framework/Versions/A/Headers/SUVersionComparisonProtocol.h -text
Sparkle.framework/Versions/A/Headers/SUVersionComparisonTest.h -text
Sparkle.framework/Versions/A/Headers/SUWindowController.h -text
Sparkle.framework/Versions/A/Headers/Sparkle.h -text
Sparkle.framework/Versions/A/Resources/Info.plist -text
Sparkle.framework/Versions/A/Resources/SUModelTranslation.plist -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/classes.nib.~1~ -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/info.nib.~1~ -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/SUStatus.nib/keyedobjects.nib.~1~ -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUAutomaticUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUAutomaticUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUAutomaticUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdatePermissionPrompt.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdatePermissionPrompt.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/SUUpdatePermissionPrompt.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/de.lproj/Sparkle.strings -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUAutomaticUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUAutomaticUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUAutomaticUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdatePermissionPrompt.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdatePermissionPrompt.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/SUUpdatePermissionPrompt.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/en.lproj/Sparkle.strings -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUAutomaticUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUAutomaticUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUAutomaticUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdatePermissionPrompt.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdatePermissionPrompt.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/SUUpdatePermissionPrompt.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/es.lproj/Sparkle.strings -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUAutomaticUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUAutomaticUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUAutomaticUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdatePermissionPrompt.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdatePermissionPrompt.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/SUUpdatePermissionPrompt.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/fr.lproj/Sparkle.strings -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUAutomaticUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUAutomaticUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUAutomaticUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdateAlert.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdateAlert.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdateAlert.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdatePermissionPrompt.nib/classes.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdatePermissionPrompt.nib/info.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/SUUpdatePermissionPrompt.nib/keyedobjects.nib -text
Sparkle.framework/Versions/A/Resources/nl.lproj/Sparkle.strings -text
Sparkle.framework/Versions/A/Resources/relaunch -text
Sparkle.framework/Versions/A/Sparkle -text
Sparkle.framework/Versions/Current -text
/VersionNotes -text
WhatsOpen[!!-~]Help/.DS_Store -text
WhatsOpen[!!-~]Help/BoxImgMd.png -text
WhatsOpen[!!-~]Help/GettingStarted.html -text
WhatsOpen[!!-~]Help/Troubleshooting.html -text
WhatsOpen[!!-~]Help/WhatsOpen[!!-~]Help.helpindex -text
WhatsOpen[!!-~]Help/agasupporthelp.css -text
WhatsOpen[!!-~]Help/index.html -text
WhatsOpen.xcodeproj/marmon.mode1v3 -text
WhatsOpen.xcodeproj/marmon.pbxuser -text
WhatsOpen.xcodeproj/project.pbxproj -text
/WhatsOpen_Prefix.pch -text
/lightBulbIcon.icns -text
/main.m -text
/uidWrapper.c -text
/uidWrapper.h -text
/whatsopen.icns -text
