* text=auto !eol
/Alerts.h -text
/Alerts.m -text
English.lproj/InfoPlist.strings -text
English.lproj/MainMenu.nib/designable.nib -text
English.lproj/MainMenu.nib/keyedobjects.nib -text
/Finder.h -text
/Info.plist -text svneol=unset#unset
/InterfaceController.h -text
/InterfaceController.m -text
/LSOF.h -text
/LSOF.m -text
/VersionNotes -text
WhatsOpen.xcodeproj/marmon.mode1v3 -text
WhatsOpen.xcodeproj/marmon.pbxuser -text
WhatsOpen.xcodeproj/project.pbxproj -text
/WhatsOpen_Prefix.pch -text
/main.m -text
