MainImage {
	float: left;
	display: inline;
	padding-left: 32px;
	border-right: 1px solid #858585;
	margin-top: 64px;
	padding-right: 32px;
}

helptopic {
	color: #4d53d2;
	font: 12px Georgia, "Times New Roman", Times, serif;
	text-align: left;
	direction: ltr;
	display: block;
	padding-right: 8px;
}

helptopicindex {
	color: #4d53d2;
	font: 10px Georgia, "Times New Roman", Times, serif;
	text-align: left;
	direction: ltr;
	display: inline;
	padding-right: 8px;
}

topic {
	color: #4d53d5;
	font: bold 14px Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	display: block;
	margin-top: 32px;
}

help {
	font: 10px Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	direction: ltr;
	padding-left: 16px;
	display: block;
	top: 16px;
	margin-top: 8px;
	width: 320px;
}

AppTitle {
	color: #2f00cd;
	font: normal bold 24px Georgia, "Times New Roman", Times, serif;
}

CopyRight {
	color: #4c4c4c;
	font: 10px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width: 320px;
	padding-top: 16px;
}

appinfo {
	float: left;
	display: inline-block;
	padding-left: 32px;
	padding-top: 72px;
}

linkbox {
	background-color: white;
	border: 2px none #9f9f9f;
	float: left;
	text-align: left;
	display: block;
	border-bottom-style: none;
	border-bottom-width: 2px;
	border-right-style: none;
	border-right-width: 1px;
	width: 120px;
}

logo {
	height: 32px;
	width: 32px;
}

helptext {
	padding-left: 16px;
	display: block;
	float: none;
	margin-left: 120px;
	border-left: 1px solid #bcbcbc;
}